
    <div class="slide-container">
        <div class="gradient-bg">
            <div class="logo-container">
                <div class="logo">
                    <div class="logo-inner">
                       <i class="fas fa-hexagon hexagon"></i>
                    </div>
                </div>
                <h1 class="text-5xl font-bold text-white">WORKTOPIA</h1>
            </div>
            <div class="wave"></div>
        </div>
        
        <div class="card">
            <h2 class="text-3xl font-bold text-gray-800 mb-4">Application de Gestion RH</h2>
            <p class="text-lg text-gray-600 mb-6">Une solution moderne et intuitive pour gérer vos ressources humaines</p>
            
            <div class="module-grid">
                <div class="module-card"><a href="/dashboard  ">
                    <div class="icon-container" style="background-color: rgba(77, 157, 179, 0.2);">
                        <i class="fas fa-chart-line text-2xl" style="color: var(--accent-blue);"></i>
                    </div>
                    <h3 class="text-lg font-semibold text-gray-800">Dashboard</h3>
                    <p class="text-sm text-gray-600">Vue d'ensemble interactive</p>
                </a></div>
                
                <div class="module-card"><a href="employe">
                    <div class="icon-container" style="background-color: rgba(26, 54, 59, 0.2);">
                        <i class="fas fa-users text-2xl" style="color: var(--primary);"></i>
                    </div>
                    <h3 class="text-lg font-semibold text-gray-800">Employés</h3>
                    <p class="text-sm text-gray-600">Gestion des profils</p>
                </a></div>
                
                <div class="module-card"><a href="paie">
                    <div class="icon-container" style="background-color: rgba(38, 166, 154, 0.2);">
                        <i class="fas fa-money-bill-wave text-2xl" style="color: var(--accent-teal);"></i>
                    </div>
                    <h3 class="text-lg font-semibold text-gray-800">Paie</h3>
                    <p class="text-sm text-gray-600">Traitement automatisé</p>
                </a></div>
                
                <div class="module-card"><a href="conge">
                    <div class="icon-container" style="background-color: rgba(255, 154, 118, 0.2);">
                        <i class="fas fa-umbrella-beach text-2xl" style="color: var(--accent-orange);"></i>
                    </div>
                    <h3 class="text-lg font-semibold text-gray-800">Congés</h3>
                    <p class="text-sm text-gray-600">Gestion simplifiée</p>
                </a></div>
            </div>
            
           
        </div>
        <footer  class="gradient-bg-footer">
        
        </footer> 
    </div>
