.header {
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
}
.logo-small {
    display: flex;
    align-items: center;
}
/* .logo-icon {
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    border-radius: 8px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    color: white;
} */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0,1rem;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.logo-inner {
    font-size: 10px;
    background-color: white !important;
    width: 30px;
    height: 30px;
    background-color: var(--primary);
    border: 3px solid #1A363B;
    border-radius: 12px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.logo-inner::before {
    color: #1A363B;
    content: "W";
    transform: rotate(-45deg);
    font-weight: bold;
}


.user-menu {
    display: flex;
    align-items: center;
}

.notification-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    position: relative;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--accent-orange);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--accent-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}