<ul class="sidebar">
    <li class="sidebar-item" [class.active]="router.isActive('dashboard', true)">
        <a  routerLink="dashboard" href="dashboard">
            <i class="fas fa-tachometer-alt"></i>
            <span class="hidden sm:inline">Dashboard</span>
        </a>
    </li>
  
    <li class="sidebar-item" [class.active]="router.isActive('employe', true)">
        <a routerLink="employe" href="employe">
             <i class="fas fa-users"></i>
             <span class="hidden sm:inline">Employés</span>
        </a>
    </li>

    <li class="sidebar-item" [class.active]="router.isActive('paie', true)">
        <a routerLink="paie" href="paie">
             <i class="fas fa-money-bill-wave"></i>
             <span class="hidden sm:inline">Paie</span>
        </a>
    </li>

    <li class="sidebar-item" [class.active]="router.isActive('conge', true)">
        <a routerLink="conge" href="conge">
             <i class="fas fa-umbrella-beach"></i>
             <span class="hidden md:inline">Congés</span>
        </a>
    </li>

    <li class="sidebar-item" [class.active]="router.isActive('formation', true)">
        <a routerLink="formation" href="formation">
             <i class="fas fa-graduation-cap"></i>
             <span class="hidden sm:inline">Formations</span>
        </a>
    </li>
</ul> -->



<!-- <ul class="sidebar" style="color: black !important; ">
  <li *ngFor="let menu of menus; let i = index" class="sidebar-item" [class.active]="router.isActive(menu.link, true)">
    <a (click)="toggleMenu(i)" href="#">
      <i [class]="menu.icon"></i>
      <span class="hidden sm:inline" >{{ menu.label }}</span>
      <i class="fas fa-chevron-down" style="float: right;"></i>  Icon pour indiquer déroulement -->
    <!-- </a>
    <ul *ngIf="menu.subMenu && menu.subMenu.length > 0" class="sub-menu" [style.display]="menu.isOpen ? 'block' : 'none'">
      <li *ngFor="let sub of menu.subMenu">
        <a [routerLink]="sub.link" href="#">{{ sub.label }}</a>
      </li>
    </ul>
  </li>
</ul> 

<!-- <ul class="sidebar">
  <li *ngFor="let menu of menus; let i = index" class="sidebar-item" [class.active]="false">
    <a href="#" (click)="toggleMenu(i)">
      <i [class]="menu.icon"></i>
      <span>{{ menu.label }}</span>
      <i class="fas fa-chevron-down" style="float: right;"></i>
    </a>
    <ul *ngIf="menu.subMenu.length > 0" [style.display]="menu.isOpen ? 'block' : 'none'">
      <li *ngFor="let sub of menu.subMenu">
        <a [routerLink]="sub.link" href="#">{{ sub.label }}</a>
      </li>
    </ul>
  </li>
</ul> -->