:root {
    --primary: #1A363B;
    --secondary: #FFFFFF;
    --accent-blue: #4D9DB3;
    --accent-teal: #26A69A;
    --accent-orange: #FF9A76;
    --accent-grey: #F5F7FA;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--accent-grey);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-container {
    padding-top: 66px;
    
    display: flex;
    height: calc(100% - 80px);
}

.main-content {
    padding-left: 220px !important;
    flex-grow: 1;
    padding: 1.5rem;
    background-color: var(--accent-grey);
    overflow-y: auto;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.gradient-bg-footer {
    background: var(--primary);
    width: 100%;
    position: absolute;
    height: 10px;
     position: fixed; 
     bottom: 0;

     
}



@media (max-width: 640px) {
    .main-content {
        padding-left: 90px !important;}
  }

  @media (max-width: 562px) {
    .app-container {
        padding-top: 88px;
    }
  }